@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container future">
    <div class="row"><img src="~/public/img/logo.png"/>COrleans社区
    </div>
    <p>
        COrleans社区由国内最早一批研究和学习Orleans的爱好者发起、共同组建
    </p>
</div>