@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <div class="container">
        <h1 class="title">Microsoft Orleans  <br><small class="subtitle">一种可以快速创建分布式、高可扩展性应用程序的NET开发框架</small></h1>
        <div class="options">
            <a class="btn btn-lg btn-primary" href="https://github.com/dotnet/orleans">加入社区QQ群</a> <a class="btn btn-lg btn-primary" href="What's-new-in-Orleans">快速入门</a>
        </div>
    </div>
</div>