@{
    Layout = "~/Views/Shared/_Layout_Advanced.cshtml";
}
<h1>Advanced Concepts </h1>

<p>This section covers a number of topics that are intended for the advanced user of Orleans.</p>

<p><a href="Using-Immutable-to-Optimize-Copying">Using Immutable to Optimize Copying</a></p>

<p><a href="Serialization">Serialization and Writing Custom Serializers</a></p>

<p><a href="Reentrant-Grains">Reentrant Grains</a></p>

<p><a href="Request-Context">Request Context</a></p>

<p><a href="Runtime-Monitoring">Runtime Monitoring</a></p>

<p><a href="Interceptors">Interceptors</a></p>

<p><a href="Using-Azure-Web-Apps">Using Azure Web Apps</a></p> 