@{
    Layout = "~/Views/Shared/_Layout_Turorials.cshtml";
}
<h1>Orleans NuGet Packages </h1>

<h2 id="orleans-nuget-packages-as-of-v120httpsgithubcomdotnetorleansreleasestagv120">Orleans NuGet packages as of <a href="https://github.com/dotnet/orleans/releases/tag/v1.2.0">v1.2.0</a></h2>

<p>There are 4 key NuGet packages you will need to use in most scenarios:</p>

<h3 id="microsoftorleansorleanscodegeneratorbuildhttpwwwnugetorgpackagesmicrosoftorleansorleanscodegeneratorbuild"><a href="http://www.nuget.org/packages/Microsoft.Orleans.OrleansCodeGenerator.Build/">Microsoft.Orleans.OrleansCodeGenerator.Build</a></h3>

<div class="highlighter-rouge">
    <pre class="highlight"><code>PM&gt; Install-Package Microsoft.Orleans.OrleansCodeGenerator.Build 
</code></pre>
</div>

<p>Build support for grain interfaces and implementation projects. Add it to your grain interfaces and implementation projects to enable code generation of grain references and serializers. <code class="highlighter-rouge">Microsoft.Orleans.Templates.Interfaces</code> and <code class="highlighter-rouge">Microsoft.Orleans.Templates.Grains</code> packages are obsolete and provided only for backward compatibility and migration.</p>

<h3 id="microsoftorleanscorehttpwwwnugetorgpackagesmicrosoftorleanscore"><a href="http://www.nuget.org/packages/Microsoft.Orleans.Core/">Microsoft.Orleans.Core</a></h3>

<div class="highlighter-rouge">
    <pre class="highlight"><code>PM&gt; Install-Package Microsoft.Orleans.Core
</code></pre>
</div>

<p>Contains Orleans.dll, which defines most of Orleans public types and Orleans Client. Reference it for building libraries and client applications that use Orleans types but don’t need any of the included providers.</p>

<h3 id="microsoftorleansserverhttpwwwnugetorgpackagesmicrosoftorleansserver"><a href="http://www.nuget.org/packages/Microsoft.Orleans.Server/">Microsoft.Orleans.Server</a></h3>

<div class="highlighter-rouge">
    <pre class="highlight"><code>PM&gt; Install-Package Microsoft.Orleans.Server
</code></pre>
</div>

<p>Includes everything you need to run a silo.</p>

<h3 id="microsoftorleansclienthttpwwwnugetorgpackagesmicrosoftorleansclient"><a href="http://www.nuget.org/packages/Microsoft.Orleans.Client/">Microsoft.Orleans.Client</a></h3>

<div class="highlighter-rouge">
    <pre class="highlight"><code>PM&gt; Install-Package Microsoft.Orleans.Client
</code></pre>
</div>

<p>Includes everything you need for an Orleans client (frontend).</p>

<hr>

<h2 id="additional-packages">Additional Packages</h2>

<p>The below packages provide additional functionality.</p>

<h3 id="microsoftorleansorleansservicebushttpwwwnugetorgpackagesmicrosoftorleansorleansservicebus"><a href="http://www.nuget.org/packages/Microsoft.Orleans.OrleansServiceBus/">Microsoft.Orleans.OrleansServiceBus</a></h3>

<div class="highlighter-rouge">
    <pre class="highlight"><code>PM&gt; Install-Package Microsoft.Orleans.OrleansServiceBus
</code></pre>
</div>
<p>Includes the stream provider for Azure Event Hubs.</p>

<h3 id="microsoftorleansorleanshosthttpwwwnugetorgpackagesmicrosoftorleansorleanshost"><a href="http://www.nuget.org/packages/Microsoft.Orleans.OrleansHost/">Microsoft.Orleans.OrleansHost</a></h3>

<div class="highlighter-rouge">
    <pre class="highlight"><code>PM&gt; Install-Package Microsoft.Orleans.OrleansHost
</code></pre>
</div>
<p>Includes the default silo host - OrleansHost.exe. Can be used for on-premises deployments or as an out-of-process silo host in Azure Worker Role. Included in Microsoft.Orleans.Server.</p>

<h3 id="microsoftorleansorleansazureutilshttpwwwnugetorgpackagesmicrosoftorleansorleansazureutils"><a href="http://www.nuget.org/packages/Microsoft.Orleans.OrleansAzureUtils/">Microsoft.Orleans.OrleansAzureUtils</a></h3>

<div class="highlighter-rouge">
    <pre class="highlight"><code>PM&gt; Install-Package Microsoft.Orleans.OrleansAzureUtils
</code></pre>
</div>
<p>Contains a wrapper class that simplifies instantiation of silos and clients in Azure Worker/Web roles, Azure Table based membership provider, and persistence and stream providers for Azure Storage.</p>

<h3 id="microsoftorleansorleansprovidershttpwwwnugetorgpackagesmicrosoftorleansorleansproviders"><a href="http://www.nuget.org/packages/Microsoft.Orleans.OrleansProviders/">Microsoft.Orleans.OrleansProviders</a></h3>

<div class="highlighter-rouge">
    <pre class="highlight"><code>PM&gt; Install-Package Microsoft.Orleans.OrleansProviders
</code></pre>
</div>
<p>Contains a set of built-in persistence and stream providers. Included in Microsoft.Orleans.Client and Microsoft.Orleans.Server.</p>

<h3 id="microsoftorleanscountercontrolhttpwwwnugetorgpackagesmicrosoftorleanscountercontrol"><a href="http://www.nuget.org/packages/Microsoft.Orleans.CounterControl/">Microsoft.Orleans.CounterControl</a></h3>

<div class="highlighter-rouge">
    <pre class="highlight"><code>PM&gt; Install-Package Microsoft.Orleans.CounterControl
</code></pre>
</div>
<p>Includes OrleansCounterControl.exe, which registers Windows performance counter categories for Orleans statistics and for deployed grain classes. Requires elevation. Can be executed in Azure as part of a role startup task. Included in Microsoft.Orleans.Server.</p>

<h3 id="microsoftorleansorleansmanagerhttpwwwnugetorgpackagesmicrosoftorleansorleansmanager"><a href="http://www.nuget.org/packages/Microsoft.Orleans.OrleansManager/">Microsoft.Orleans.OrleansManager</a></h3>

<div class="highlighter-rouge">
    <pre class="highlight"><code>PM&gt; Install-Package Microsoft.Orleans.OrleansManager
</code></pre>
</div>
<p>Includes Orleans management tool - OrleansManager.exe.</p>

<h3 id="microsoftorleansorleansconsulutilshttpwwwnugetorgpackagesmicrosoftorleansorleansconsulutils"><a href="http://www.nuget.org/packages/Microsoft.Orleans.OrleansConsulUtils/">Microsoft.Orleans.OrleansConsulUtils</a></h3>

<div class="highlighter-rouge">
    <pre class="highlight"><code>PM&gt; Install-Package Microsoft.Orleans.OrleansConsulUtils
</code></pre>
</div>
<p>Includes the plugin for using Consul for storing cluster membership data.</p>

<h3 id="microsoftorleansorleanszookeeperutilshttpwwwnugetorgpackagesmicrosoftorleansorleanszookeeperutils"><a href="http://www.nuget.org/packages/Microsoft.Orleans.OrleansZooKeeperUtils/">Microsoft.Orleans.OrleansZooKeeperUtils</a></h3>

<div class="highlighter-rouge">
    <pre class="highlight"><code>PM&gt; Install-Package Microsoft.Orleans.OrleansZooKeeperUtils
</code></pre>
</div>
<p>Includes the plugin for using ZooKeeper for storing cluster membership data.</p>

<h3 id="microsoftorleanstestinghosthttpwwwnugetorgpackagesmicrosoftorleanstestinghost"><a href="http://www.nuget.org/packages/Microsoft.Orleans.TestingHost/">Microsoft.Orleans.TestingHost</a></h3>

<div class="highlighter-rouge">
    <pre class="highlight"><code>PM&gt; Install-Package Microsoft.Orleans.TestingHost
</code></pre>
</div>
<p>Includes the library for hosting silos in a testing project.</p>

<h3 id="microsoftorleansorleanscodegeneratorhttpwwwnugetorgpackagesmicrosoftorleansorleanscodegenerator"><a href="http://www.nuget.org/packages/Microsoft.Orleans.OrleansCodeGenerator/">Microsoft.Orleans.OrleansCodeGenerator</a></h3>

<div class="highlighter-rouge">
    <pre class="highlight"><code>PM&gt; Install-Package Microsoft.Orleans.OrleansCodeGenerator
</code></pre>
</div>
<p>Includes the run time code generator. Included in Microsoft.Orleans.Server and Microsoft.Orleans.Client.</p>

<h3 id="microsoftorleansorleanstelemetryconsumersaihttpwwwnugetorgpackagesmicrosoftorleansorleanstelemetryconsumersai"><a href="http://www.nuget.org/packages/Microsoft.Orleans.OrleansTelemetryConsumers.AI/">Microsoft.Orleans.OrleansTelemetryConsumers.AI</a></h3>

<div class="highlighter-rouge">
    <pre class="highlight"><code>PM&gt; Install-Package Microsoft.Orleans.OrleansTelemetryConsumers.AI
</code></pre>
</div>
<p>Includes the telemetry consumer for Azure Application Insights.</p>

<h3 id="microsoftorleansorleanstelemetryconsumersnewrelichttpwwwnugetorgpackagesmicrosoftorleansorleanstelemetryconsumersnewrelic"><a href="http://www.nuget.org/packages/Microsoft.Orleans.OrleansTelemetryConsumers.NewRelic/">Microsoft.Orleans.OrleansTelemetryConsumers.NewRelic</a></h3>

<div class="highlighter-rouge">
    <pre class="highlight"><code>PM&gt; Install-Package Microsoft.Orleans.OrleansTelemetryConsumers.NewRelic
</code></pre>
</div>
<p>Includes the telemetry consumer for NewRelic.</p>

<h3 id="microsoftorleansserializationbondhttpwwwnugetorgpackagesmicrosoftorleansserializationbond"><a href="http://www.nuget.org/packages/Microsoft.Orleans.Serialization.Bond/">Microsoft.Orleans.Serialization.Bond</a></h3>

<div class="highlighter-rouge">
    <pre class="highlight"><code>PM&gt; Install-Package Microsoft.Orleans.Serialization.Bond
</code></pre>
</div>
<p>Includes support for <a href="https://github.com/microsoft/bond">Bond serializer</a>.</p> 