@{
    Layout = "~/Views/Shared/_Layout_Turorials.cshtml";
}
<h1>Prerequisites </h1>

<p>Orleans is a set of .NET libraries. In order to use Orleans, you need <a href="http://www.microsoft.com/net">.NET Framework</a> 4.5.1 or higher and a copy of <a href="https://www.visualstudio.com">Visual Studio</a> 2015 or higher. Note that the Express versions of Visual Studio do not support extension packages, but you can use Orleans by adding references to the NuGet packages directly.</p>

<p>In production, Orleans requires persistent storage. The following technologies are supported (only need one of those):</p>

<ul>
    <li><a href="https://azure.microsoft.com/en-us/pricing">Azure</a> - Tested with <a href="http://azure.microsoft.com/en-us/downloads">Azure SDK</a> 2.4 - 2.8</li>
    <li><a href="https://www.microsoft.com/en-us/server-cloud/products/sql-server">SQL Server</a> 2008 or higher</li>
    <li><a href="https://zookeeper.apache.org">ZooKeeper</a> 3.4.0 or higher</li>
    <li><a href="https://www.mysql.com">MySQL</a> 5.0 or higher</li>
    <li><a href="https://www.consul.io">Consul</a> 0.6.0 or higher</li>
</ul>  