<!-- Header -->
<!-- Fixed Bar -->

<div class="fixedbar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo">
                    <div class="pull-left">
                        <!-- Logo with font awesome icon. Replace it with your logo. Replace # with your site link -->
                        <h1><a href="/">COrleans社区</a></h1>
                    </div>
                    <div class="navi">
                        <!-- Navigation Starts Here -->
                        <div class="pull-left">
                            <div id="ddtopmenubar" class="mattblackmenu">
                                <!-- Main navigation -->
                                <ul>
                                    <!-- Add rel="ddsubmenu{count}" to main menu -->
                                    <li>
                                        <a href="/">首页</a>
                                    </li>
                                    <li>
                                        <a href="/tutorials/introduction" rel="ddsubmenu1">入门指南</a>
                                        <!-- Sub navigation -->
                                        <ul id="ddsubmenu1" class="ddsubmenustyle">
                                            <li><a href="~/tutorials/introduction">Orleans概念介绍</a></li>
                                            <li><a href="service.html">如何安装</a></li>
                                            <li><a href="service.html">开发入门</a></li>
                                            <li><a href="service.html">进阶教程</a></li>
                                            <li><a href="service.html">配置教程</a></li>
                                        </ul>
                                    </li>
                                    <!-- Main navigation -->
                                    <li>
                                        <a href="/advanced/concept">高级进阶</a>
                                    </li>
                                    <li>
                                        <a href="https://github.com/dotnet/orleans">项目源码</a>
                                    </li>
                                    <li>
                                        <a href="https://github.com/dotnet/orleans" rel="ddsubmenu2">示例项目</a>
                                        <!-- Sub navigation -->
                                        <ul id="ddsubmenu2" class="ddsubmenustyle">
                                            <li><a href="portfolio.html">项目1</a></li>
                                            <li><a href="portfolio-big.html">项目2</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/aboutus">关于我们</a></li>
                                </ul>
                            </div>
                        </div><!--/ Navigation Ends Here -->
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!-- Fixed Bar End -->