<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Title here -->
    <title>OneColor With Slider - Responsive HTML5/CSS3 Template</title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your,Keywords">
    <meta name="author" content="ResponsiveWebInc">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <!-- Stylesheets -->
    <!-- Bootstrap CSS -->
    <link href="~/public/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu Drop Down Plug-in -->
    <link href="~/public/css/ddlevelsmenu-base.css" rel="stylesheet">
    <link href="~/public/css/ddlevelsmenu-topbar.css" rel="stylesheet">
    <!-- Flex Slider CSS -->
    <link href="~/public/css/flexslider.css" rel="stylesheet">
    <!-- Pretty Photo CSS -->
    <link href="~/public/css/prettyPhoto.css" rel="stylesheet">
    <!-- Font awesome CSS -->
    <link href="~/public/css/font-awesome.min.css" rel="stylesheet">
    <!-- Change the template color below. Supported colors blue,red and green. -->
    <link href="~/public/css/blue.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/public/css/style.css" rel="stylesheet"> 
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/public/img/favicon/favicon.ico">
</head>
<body>
    @Html.Partial("_Header")
    @RenderBody()
    <!-- JavaScript files -->
    <!-- jQuery -->
    <script src="~/public/js/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/public/js/bootstrap.min.js"></script>
    <!-- Easing JS -->
    <script src="~/public/js/easing.js"></script>
    <!-- Drop Down Menu Plug-in JS -->
    <script src="~/public/js/ddlevelsmenu.js"></script>
    <!-- Flex Slider JS -->
    <script src="~/public/js/flexslider.js"></script>
    <!-- Pretty Photo, Isotope JS -->
    <script src="~/public/js/jquery.prettyPhoto.js"></script>
    <script src="~/public/js/isotope.js"></script>
    <!-- Respond JS for IE8 -->
    <script src="~/public/js/respond.min.js"></script>
    <!-- HTML5 Support for IE -->
    <script src="~/public/js/html5shiv.js"></script>
    <!-- Custom JS -->
    <script src="~/public/js/custom.js"></script>
    <!-- This Page Script -->
    <script>
    </script>
</body>
</html>